.Toastify__toast--info {
    background-color: #7e6597 !important;
}

.user-avatar {
    width: 160px;
    height: 160px;
}

.helper-details {
    font-size: 20px;
    color: black !important;
}

.helper-heading {
    font-size: 30px;

}
